<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Teman Arah</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Teman Arah</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Teman Arah membutuhkan akses lokasi untuk membantu navigasi tunanetra.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Teman Arah membutuhkan akses lokasi di latar belakang agar navigasi dan pelacakan posisi tetap berjalan saat aplikasi diminimize.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Teman Arah membutuhkan akses lokasi di latar belakang agar navigasi dan pelacakan posisi tetap berjalan saat aplikasi diminimize.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Teman Arah membutuhkan akses Bluetooth untuk terhubung ke SmartCane dan mendeteksi rintangan.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Teman Arah membutuhkan akses mikrofon agar perintah suara dapat digunakan untuk navigasi.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Teman Arah menggunakan pengenalan suara untuk menerima perintah navigasi dari pengguna tunanetra.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>location</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
